.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
@media screen and (max-width: 800px){
  display: flex;
  flex-direction: column;
  width: 321px;
  margin-top:20px;

}
  .title {
    margin: 10px 0;
  }
}
