body {
  font-family: Jura, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 60px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color:orchid;
}

*{
  box-sizing: border-box;
}